/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

/*basic grid*/
*{
    border:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    background:#009494;
}
.grid{
    display: grid;
    grid-template-rows:5fr auto 50px;
    grid-template-columns:repeat(12, 1fr);
}
.h{
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom:10px;
}
.c{
    grid-column-start: 1;
    grid-column-end: -1;
    background: #00585E;
}
.f{
    margin-top:20px;
    grid-column-start: 3;
    grid-column-end: 11;
    font-size: 0.85em;
    color: #F5F2DC;
}
/*header*/
#title{
    font-weight: normal;
    letter-spacing: 0.6em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color:#F5F2DC;
}
.rules{
    color:#F5F2DC;
    text-align: center;
    padding:10px;
}
a{
    color:#FF9811;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color:#00585E;
}

/*content*/
.cards{
    margin-left: 17%;
}
.card {
    cursor: pointer;
    background: #F5F2DC;
    padding:40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    transition: transform .2s;
    display: inline-block;
    margin:40px;
    border-radius: 5px;
}
.card img {
    border-radius: 5px 5px 0 0;
}
.card:hover{
    transform: scale(1.15);
}

.container h4{
    color:#00585E;
    text-align: center;
    margin-top:20px; 
}

.subtitle{
    color:#FF9811;
    text-align: center;
}
table{
    margin-left: 20%;
    margin-top:25px;
    color:#F5F2DC;
    margin-bottom: 20px;
}
td{
    padding:10px;
}
/*footer*/
.f p{
    display: inline-block;
}
#link{
    float:right;

}

/*modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
}
#mytext{
    font-size: 2em;
}

.refresh{
    padding:20px;
    font-size: 1em;
    font-weight: bold;
    margin:20px;
    cursor: pointer;
}
.refresh:hover{
    color:#00585E;
}
